<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>404 | Kujira Developer Docs</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-kujira-blacker text-gray-200 w-full h-full">
    <main class="w-full h-screen flex flex-col items-center justify-center">
      <h1 class="text-4xl font-semibold">404</h1>
      <p class="text-xl font-medium">Page not found</p>
      <a
        href="/"
        class="underline underline-offset-4 hover:decoration-2 decoration-kujira-teal font-semibold transition-all"
      >
        Back Home
      </a>
    </main>
  </body>
</html>
<style is:global>
  @tailwind base;
  @layer base {
    *,
    ::before,
    ::after {
      @apply dark:border-kujira-border;
    }
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
