<nav class="flex items-center pt-4 pb-3 px-6 bg-gradient-to-tr from-kujira-dark-gray to-kujira-black">
    <img src="/kujira-text.svg" alt="Kujira" class="h-10 w-auto hidden md:block">
    <img src="/kujira-icon.svg" alt="Kujira" class="h-8 w-auto block md:hidden">
</nav>